.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 20;
	padding: 35px 0;

	.container__header {
		max-width: 1680px;
		margin: 0 auto;
		padding: 0 15px;
	}

	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav {
		ul {
			padding: 0;
			margin: 0;
		}
	}

	.nav__link {
		color: #ffffff;
		font-size: 16px;
		line-height: 1;
		font-weight: 700;
		margin-left: 35px;
		transition: linear .2s;

		&:hover {
			color: #ff690f;
			text-decoration: none;
		}

		&:first-child {
			margin-left: 0;
		}
	}

	.nav__close {
		display: none;
		position: absolute;
		right: 30px;
		top: 27px;
		color: #fff;
		font-size: 20px;
	}


	/* NAV TOGGLE */
	.nav-toggle {
		display: none;
		width: 30px;
		padding: 10px 0;
		font-size: 0;
		color: transparent;
		border: 0;
		background: none;
		cursor: pointer;
		position: absolute;
		z-index: 1;
		right: 50px;
		top: 55px;
	}

	.nav-toggle.fixed {
		position: fixed;
		top: 30px;
	}

	.nav-toggle.fixed .nav-toggle__item {
		background-color: #ff690f;

		&::before,
		&::after {
			background-color: #ff690f;
		}
	}

	.nav-toggle:focus {
		outline: 0;
	}

	.nav-toggle__item {
		display: block;
		width: 100%;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		transition: linear .2s;
	}

	.nav-toggle.active .nav-toggle__item {
		background: none;
	}

	.nav-toggle__item:before,
	.nav-toggle__item:after {
		content: "";
		width: 100%;
		height: 3px;
		background-color: #fff;
		position: absolute;
		left: 0;
		z-index: 1;
		transition: transform .2s linear;
	}

	.nav-toggle__item:before {
		top: -8px;
	}

	.nav-toggle__item:after {
		bottom: -8px;
	}

	.nav-toggle.active .nav-toggle__item:before {
		transform-origin: left top;
		transform: rotate(45deg) translate3d(0px, -2px, 0)
	}

	.nav-toggle.active .nav-toggle__item:after {
		transform-origin: left bottom;
		transform: rotate(-45deg) translate3d(0px, 3px, 0);
	}

	/* NAV TOGGLE END*/
}